body {
  background: #ffffff;
  min-height: 900px;
  position: relative;
  background-size: cover;
  font-family: 'Arimo', sans-serif; 
}

.page {
  background: white;
  max-width: 1280px;
  margin: 0 auto; 
}

.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px; 
}
  
  /*Logo de la empresa */
.pp-header img {
    width: auto;
    height: 70px;
    margin-left: -12px; 
    padding-right: 2px;

}
  .pp-header h1 {
    font-weight: 400; 
  }
  
  .pp-header .navbar-nav {
    letter-spacing: 1px;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    font-weight: 400; 
  }
  

/* Index Section */

.index{
  width: 90%;
  
  margin: 20px auto;
  display:grid;
  background-color: #ff0000;
  gap: 20px; /* Espacio medianiles https://developer.mozilla.org/en-US/docs/Web/CSS/gap */
  grid-template-columns: repeat(3, 1fr); /* https://developer.mozilla.org/es/docs/Web/CSS/grid-template-columns */
  
}

