<!DOCTYPE html>
<html lang="en-US">
  
  <%- include (pHead) %>


<body id="top">
  <div class="page">

    <%- include (pHeader) %>
    
    <div class="page-content">
      <div class="container">    
        <div class="container pp-section ">
        <!--Organizamos el contenido en dos columnas, una con descripcion y otra con las imagenes-->
        <div class="container">
              <div class="h3 font-weight-normal">
                Nombre del proyecto
              </div>
              <div class="row">
                
                <div class="col-md-4">
                  <p>Enim duis ut penatibus est netus elementum natoque cursus, imperdiet primis montes venenatis eros neque augue himenaeos tellus, vulputate aptent quis non orci tortor sollicitudin. Eget phasellus dictum suspendisse montes mollis dis sollicitudin augue risus volutpat, consequat diam tristique pellentesque dui ut velit maecenas blandit.</p>
                  <p>Eleifend parturient potenti ut integer tempus nulla at gravida per hendrerit, ultricies nam porttitor velit vehicula quam scelerisque ultrices posuere nostra, sed id fringilla vivamus phasellus quisque enim montes mollis.</p>
                </div>
                  <!--Informacion innecesaria para la pagina
                    <div class="row mt-5">
                    <div class="col-md-3">
                    <div class="h5">Tags</div>
              
                    <a class="mr-1 badge badge-primary" href="#">Nature</a>
                    <a class="mr-1 badge badge-primary" href="#">Model</a>
                    <a class="badge badge-primary" href="#">Flower</a>
                    <div class="h5 pt-4">Year</div>
              
                    <p>2017</p>
                  </div>
                    -->
                
                  <div class="col-md-8">
                    <div class="imagen-proyecto" ><!--probando-->
                      <img class="img-fluid mt-4" src="images/image-detail.jpg" />
                    </div>
                    <div class="imagen-proyecto"><!--probando-->
                      <img class="img-fluid mt-4" src="images/image-detail.jpg" />
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="pp-footer">
        <div class="container py-5">

          <div class="row text-center">

            <div class="col-md-12">


              <!-- Icono facebook 
                <a class="pp-facebook btn btn-link" href="#">
                  <i class="fab fa-facebook-f fa-2x " aria-hidden="true"></i>
                </a>
                -->

              <!-- Icono twiter
                <a class="pp-twitter btn btn-link " href="#">
                  <i class="fab fa-twitter fa-2x " aria-hidden="true"></i>
                </a>
                -->

              <!-- Icono skype NO ANDA
                <a class="pp-twitter btn btn-link " href="#">
                  <i class="fa fa-skype" aria-hidden="true"></i>
                </a>
                -->

              <!--  Movil -->
              <a class="pp-twitter btn btn-link " href="tel:+598 98 804 249">
                <i class="fas fa-mobile-alt"></i>
              </a>



              <!--  Map https://fontawesome.com/icons/map-marked-alt?style=solid-->
              <a class="pp-twitter btn btn-link "
                href="https://www.google.com/maps/place/Gral+Flores+324,+55000+Artigas,+Departamento+de+Artigas/@-30.4055188,-56.4697693,3a,75y,242.66h,90t/data=!3m6!1e1!3m4!1syRYBLp0PVewEZX5nTqdcWA!2e0!7i13312!8i6656!4m5!3m4!1s0x95ab095f2350f973:0xdf1e740934ab3159!8m2!3d-30.4055658!4d-56.4698577">
                <i class="fas fa-map-marked-alt"></i> <!-- Gral.Flores 324-->
              </a>


              <!--  Phone https://fontawesome.com/icons/map-marked-alt?style=solid-->
              <a class="pp-twitter btn btn-link " href="#">
                <i class="fas fa-phone"></i>
              </a>



              <!-- MAP PRO https://fontawesome.com/icons/map-marker-check?style=solid
                <a class="pp-twitter btn btn-link " href="#">
                  <i class="fas fa-map-marker-check"></i>
                </a>
                -->

              <!--  Phone PRO = https://fontawesome.com/icons/phone-square-alt?style=duotone
                <a class="pp-twitter btn btn-link " href="#">
                  <i class="fad fa-phone-square-alt"></i>
                </a>
              
                -->



              <!-- Email Abierto-->
              <a class="pp-twitter btn btn-link " href="mailto:cbdp.arq@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </a>



              <!-- Email Abierto NO ANDA
                <a class="pp-twitter btn btn-link " href="#">
                  <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                </a>
                -->

              <!-- Email LinkeTin
                <a class="pp-twitter btn btn-link " href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                -->

              <!-- Email Abierto
                <a class="pp-twitter btn btn-link " href="#">
                  <i class="fa fa-envelope-open" aria-hidden="true"></i>
                </a>
                -->

              <!-- Icono  google no anda
                <a class="pp-twitter btn btn-link " href="#"></a>
                  <i class="fa fa-google" aria-hidden="true"></i>
                </a>
                -->

              <!-- Icono youtube
                <a class="pp-youtube btn btn-link" href="#">
                  <i class="fab fa-youtube fa-2x" aria-hidden="true"></i>
                </a>
                -->

              <!-- Icono youtube
                <a class="pp-instagram btn btn-link" href="#">
                  <i class="fab fa-instagram fa-2x " aria-hidden="true">
                  </i>
                </a>
                -->

            </div>

            <!-- Parrafo centrado 
              <div class="col-md-12">
                <p class="mt-3">Copyright &copy; Photo Perfect. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
              </div>
            -->
          </div>
        </div>
      </footer>



  <script src="scripts/jquery.min.js?ver=1.2.0"></script>
  <script src="scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
  <script src="scripts/main.js?ver=1.2.0"></script>
</body>

</html>