<!DOCTYPE html>
<html lang="en-US">


  <%- include (pHead) %>

<body id="top">





    <%- include (pHeader) %>
    
    <DIV class="ContainerBox" >
      <!-- Img-1 -->
      <div class="box">
        <a href="/image-detail">
          <!-- Se utiliza para representar un imagen con titulo https://developer.mozilla.org/es/docs/Web/HTML/Element/figure -->
          <figure>
            <img class="img-fluid" src="images/Proyect-1.jpg" alt="Nature" />
            <!-- Representa un subtitulo o leyenda https://developer.mozilla.org/es/docs/Web/HTML/Element/figcaption  -->
            <figcaption> 
              <div class="h4">Forest</div>
              <p>Nature</p>
            </figcaption>
          </figure>
        </a>
      </div>

            <!-- Img-1 -->
            <div class="box">
              <a href="/image-detail">
                <!-- Se utiliza para representar un imagen con titulo https://developer.mozilla.org/es/docs/Web/HTML/Element/figure -->
                <figure>
                  <img class="img-fluid" src="images/Proyect-1.jpg" alt="Nature" />
                  <!-- Representa un subtitulo o leyenda https://developer.mozilla.org/es/docs/Web/HTML/Element/figcaption  -->
                  <figcaption> 
                    <div class="h4">Forest</div>
                    <p>Nature</p>
                  </figcaption>
                </figure>
              </a>
            </div>

                  <!-- Img-1 -->
      <div class="box">
        <a href="/image-detail">
          <!-- Se utiliza para representar un imagen con titulo https://developer.mozilla.org/es/docs/Web/HTML/Element/figure -->
          <figure>
            <img class="img-fluid" src="images/Proyect-1.jpg" alt="Nature" />
            <!-- Representa un subtitulo o leyenda https://developer.mozilla.org/es/docs/Web/HTML/Element/figcaption  -->
            <figcaption> 
              <div class="h4">Forest</div>
              <p>Nature</p>
            </figcaption>
          </figure>
        </a>
      </div>

            <!-- Img-1 -->
            <div class="box">
              <a href="/image-detail">
                <!-- Se utiliza para representar un imagen con titulo https://developer.mozilla.org/es/docs/Web/HTML/Element/figure -->
                <figure>
                  <img class="img-fluid" src="images/Proyect-1.jpg" alt="Nature" />
                  <!-- Representa un subtitulo o leyenda https://developer.mozilla.org/es/docs/Web/HTML/Element/figcaption  -->
                  <figcaption> 
                    <div class="h4">Forest</div>
                    <p>Nature</p>
                  </figcaption>
                </figure>
              </a>
            </div>

                  <!-- Img-1 -->
      <div class="box">
        <a href="/image-detail">
          <!-- Se utiliza para representar un imagen con titulo https://developer.mozilla.org/es/docs/Web/HTML/Element/figure -->
          <figure>
            <img class="img-fluid" src="images/Proyect-1.jpg" alt="Nature" />
            <!-- Representa un subtitulo o leyenda https://developer.mozilla.org/es/docs/Web/HTML/Element/figcaption  -->
            <figcaption> 
              <div class="h4">Forest</div>
              <p>Nature</p>
            </figcaption>
          </figure>
        </a>
      </div>
      
    </DIV>



    
  </div>

  <%- include (pfooter) %>


</body>

</html>