<head>



    <meta charset="UTF-8">
    <!-- Esta etiquta se usa para compativilidad de IE no es muy necesaria -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Esta etiqueta facilita el resonse disa iv https://www.w3schools.com/css/css_rwd_viewport.asp -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Benjamin Diaz Arquitecto</title>
    

    <!-- Aporta contenido alternativo al elemoto Sript Las aplicaciones que no soporte esto deven mostrar este contenido
      g https://developer.mozilla.org/es/docs/Web/HTML/Elemento/noscript-->
  

    <!-- NO LO TENGO CLARO Repite <??> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
   
    <link rel="preload" as="style"
      href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&amp;display=swap" />
    



    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&amp;display=swap"
      media="print" onload="this.media='all'" />
      <!-- Croe que llama a la fuete de google <?> -->
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&amp;display=swap" />
    </noscript>

    <!-- <link href="/css/main.css?ver=1.2.0" rel="stylesheet"> -->
    
    
    <link href="/css/main.css" rel="stylesheet">
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->



    
    <!-- https://fontawesome.com/v5.15/how-to-use/customizing-wordpress/snippets/setup-cdn-webfont -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  
  </head>