<!-- Elemoto de navegacion es la parte supuerio donde suele ir el logo -->

    <button class="menu-btn">
      <i class="fas fa-bars fa-2x"></i>
    </button>

    <header>
      <!-- DIV GENEAL! -->
        <nav class= "nav-main">


            <!-- Logo  -->
            <div class="nav-business">
              <a href="/">
                <img src="images/Logo.png" class="nav-logo" alt="Logo">
              </a>
              
              <h1> 
                <!-- Nombre de Empresa -->
                  Estudio Benjamin Díaz           
              </h1>
  
            </div>
            
            <!-- <div class = "nav_responsive></div> -->
            <ul class="nav-menu">
              <li>
               <a  href="/">Proyectos</a>
              </li>

              <li>
                <a  href="/about">Estudio</a>
              </li>

              <li>
                <a  href="/contact">Contacto</a>
              </li>
            </ul>


        </nav>
  </header>