    <!-- Elemoto de navegacion es la parte supuerio donde suele ir el logo -->
    <header>
      <!-- DIV GENEAL! -->
      <div class = "container">
        <nav class= "nav-mian">

          <div class="nav-budiness"> 
            <!-- Logo  -->

            <a href="/">
              <img src="images/Logo.png" alt="Logo">
            

            <h1>
              <!-- Nombre de Empresa -->
                Estudio Benjamin Díaz           
            </h1>

          </a>


          </div>

            <ul class="nav-menu">
              <li >
                <a  href="/">Proyectos</a>
              </li>

              <li >
                <a  href="/about">Estudio</a>
              </li>

              <li>
                <a  href="/contact">Contacto</a>
              </li>
            </ul>

          
        </nav>
      </div>
  </header>